NODE_VERSION=22
NPM_FLAGS=--legacy-peer-deps
VITE_WALLETCONNECT_PROJECT_ID=
VITE_SOLANA_NETWORK=mainnet-beta
VITE_SOLANA_RPC_URL=
VITE_TINANAI_SOLANA_MINT=6FQCFFmcCE4WY2X2hxquMnKgnzwSy1sJLX5VuRMe9Ddp
VITE_PUMPFUN_TOKEN_URL=
VITE_TINANAI_METADATA_URI=
